body {
    background: rgb(161, 209, 212);
}

nav > img {
    height: 50px;
    width: 50px;
}

section {
    display: grid;
    grid-template: 1fr / 1fr 400px;
}

.cart {
    position: sticky;
    top: 0;
    background: whitesmoke;
    border: 5px solid black;
}

img {
    width: 200px;
    margin: 10px;
}

ul {
    padding: 0;
}

/* #etiquette-wrapper {
    display: flex;
    flex-wrap: wrap;
} */
