body {
    background: goldenrod;
}

section {
    display: grid;
    grid-template: 1fr / 2fr 1fr;
}
.cart {
    position: sticky;
    top: 0;
    background: wheat;
    border: 5px solid hotpink;
    max-height: 500px;
}

img {
    width: 200px;
    margin: 10px;
}

#etiquette-holder {
    display: flex;
    flex-wrap: wrap;
}